.py-5.text-center.text-white{:style => "background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;"}
  .container
    .row
      .col-md-8.mx-auto
        %h1.mb-3 Bienvenido a Donsgram
        %p.lead.mb-0 La red que une a donantes
        %a.btn.btn-link.m-3{:href => "#"} Lee mas
        %a.btn.btn-primary.m-3{:href => "#"}
          Registrate
          %br/
        %img.img-fluid.d-block.mx-auto{:src => "https://static.pingendo.com/img-placeholder-tablet.svg", :width => "750"}/
