.py-5
  .container
    .row
      .col-md-9
        %p.lead
          Suscribete por correo electronico
          %br/
        %form.form-inline
          .form-group
            %input.form-control{:placeholder => "Tu e-mail aquí", :type => "email"}/
          %button.btn.btn-primary.ml-3{:type => "submit"} Subscribete
      .col-4.col-md-1.align-self-center
        %a{:href => "#"}
          %i.fa.fa-fw.fa-facebook.text-muted.fa-2x
      .col-4.col-md-1.align-self-center
        %a{:href => "#"}
          %i.fa.fa-fw.fa-twitter.text-muted.fa-2x
      .col-4.col-md-1.align-self-center
        %a{:href => "#"}
          %i.fa.fa-fw.fa-instagram.text-muted.fa-2x
    .row
      .col-md-12.mt-3.text-center
        %p
          © Copyright 2018 Donsgram
          %br/
          All rights reserved.
