.py-5.text-center
  .container
    .row
      .col-lg-4.col-8.order-2.order-lg-1
        %img.img-fluid.d-block{:src => "https://static.pingendo.com/img-placeholder-2.svg"}/
      .col-lg-2.col-4.d-flex.flex-column.justify-content-between.order-3.order-lg-2
        %img.img-fluid.d-block{:src => "https://static.pingendo.com/img-placeholder-1.svg"}/
        %img.img-fluid.d-block{:src => "https://static.pingendo.com/img-placeholder-4.svg"}/
      .px-md-5.p-3.d-flex.flex-column.justify-content-center.col-lg-6.order-1.order-lg-3{:style => ""}
        %i.d-block.fa.fa-circle.fa-3x.mb-2.text-muted
        %h1 Bienvenido a Donsgram
        %p.lead
          La red con la que podras encontrar a un donante mucho mas facil.
          %br>/
          Lee mas acerca de nosotros.
          %br/
.py-5.text-center{:style => "background-image: url(\"https://static.pingendo.com/cover-bubble-dark.svg\"); background-size: cover;"}
  .container
    .row
      .mx-auto.col-md-6.col-10.bg-white.p-5
        %h1.mb-4 Inicia Sesión
        %form
          .form-group
            %input#form9.form-control{:placeholder => "Ingresa email", :type => "email"}/
          .form-group.mb-3
            %input#form10.form-control{:placeholder => "Contraseña", :type => "password"}/
            %small.form-text.text-muted.text-right
              %a{:href => "#"} Olvide mi contrseña
              %br/
              %a{:href => "#"} ¿Eres nuevo? Registrate
          %button.btn.btn-primary{:type => "submit"} Submit

-# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
-#     <%= f.label :email %>
-#     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#
-#     <%= f.label :password %>
-#     <%= f.password_field :password, autocomplete: "off" %>
-#
-#   <% if devise_mapping.rememberable? -%>
-#       <%= f.check_box :remember_me %>
-#       <%= f.label :remember_me %>
-#   <% end -%>
-#
-#     <%= f.submit "Log in" %>
-# <% end %>
-#
-# <%= render "devise/shared/links" %>
